In [1]:
cars = ['bmw','audi','toyato','benz']

In [ ]:
req: ---- organise this list in a alpha order.------> A-Z

In [ ]:
1. sort( ) | 2. sorted()

In [ ]:
1. it used to make the changes permanently

In [ ]:
2. sorted() -----> only for temp usage.

In [ ]:
sorted()-----implementation:

In [2]:
print('Here is the org list:')

print(cars)

print('\nHere is the sorted list:') # A-z ------!! b,b ----e and m

print(sorted(cars))

Here is the org list:
['bmw', 'audi', 'toyato', 'benz']

Here is the sorted list:
['audi', 'benz', 'bmw', 'toyato']

In [3]:
print(cars)

['bmw', 'audi', 'toyato', 'benz']

In [4]:
cars.sort()

print(cars)

['audi', 'benz', 'bmw', 'toyato']

In [5]:
print(cars)

['audi', 'benz', 'bmw', 'toyato']

In [ ]:
for loops:
    
    
---temp variable creation:
----Maintaing the indentation:
---maintaing the spaces

In [6]:
students = ['vijay','azeem','priyanka','ashok','sri']

In [ ]:
#req: ---Keep up the good job.

In [7]:
for student in students:
    print(student)

vijay
azeem
priyanka
ashok
sri

In [9]:
for ironman in students:#any name in universe you can keep as temp var.
    print(f" {ironman.title()}, keep up the good job")

 Vijay, keep up the good job
 Azeem, keep up the good job
 Priyanka, keep up the good job
 Ashok, keep up the good job
 Sri, keep up the good job

In [11]:
for ironman in students:#any name in universe you can keep as temp var.
    print(f" {ironman.title()}, keep up the good job")
    
print('\nThank you all for showing intrest in learning python')

 Vijay, keep up the good job
 Azeem, keep up the good job
 Priyanka, keep up the good job
 Ashok, keep up the good job
 Sri, keep up the good job

Thank you all for showing intrest in learning python

In [ ]:
#range function: print the num from 1-20

#range dec last num is always exclusive...1-20 .....20, 19

In [14]:
for value in range(1,101):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [15]:
#req: create a list by using the range function:1-50

numbers = list(range(1,51))  #range(startvalue, stopvalue,stepcount)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [16]:
#req: print even num from 1-50---->

eve_num = list(range(2,51,2)) #  1----2------+2

print(eve_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]